.aid__title {
  margin-bottom: 25px;
  @include rm(1024) {
    margin-bottom: 35px;
  }
  @include rm(1220) {
    margin-bottom: 45px;
  }
}

.aid__list {
  max-width: 300px;
  width: 100%;
  margin: auto;
  @include rm(640) {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}

.aid__item {
  position: relative;
  padding-left: 50px;
  padding-bottom: 10px;

  &:not(:last-child) {
    margin-bottom: 15px;
    @include rm(640) {
      margin-bottom: 0;
      margin-right: 15px;
    }
    @include rm(1220){
      margin-bottom: 0;
    }
  }

  @include rm(640) {
    width: 33%;
    text-align: center;
  }


  @include rm(768){
    font-size: 18px;
  }

  @include rm(1024) {
    padding-top: 0;
    font-size: 20px;
    padding-left: 80px;
    text-align: left;
    &:before {
      left: 0;
      transform: translate(0);
    }
  }
}

.aid__item-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.aid__line {
  width: calc(100% - 45px - 50px);
  bottom: 0;
  position: absolute;
  left: 50px;
  @include rm(640) {
    left: 0;
    width: calc(100% - 50px);
  }
  @include rm(1024){
    left: 80px;
    width: calc(100% - 45px - 80px);
  }
}

