.header {
  box-shadow: 3px 3px 10px rgba(3, 3, 3, 0.15);
  background: linear-gradient(-45deg, $white 50%,$orange  50%);
}

.header__wrap {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 10px 0;
  background: $white;
  z-index: 2;
  @include rm(1220) {
    padding: 16px 0;
  }
}

.header__logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid $white;
  border-radius: 10px;
  text-transform: uppercase;
  background: transparent;

  &::before {
    position: absolute;
    transform: skewX(-45deg);
    content: "";
    right: -40px;
    top: -12px;
    width: 300px;
    height: 64px;
    background: $orange;
    z-index: -1;
    @include rm(1024){
      right: -45px;
      top: -17px;
      height: 74px;
    }

    @include rm(1220){
      height: 76px;
      top:-18px;
    }
  }
  @include rm(1024) {
    margin-right: 60px;
  }
}

.logo__left {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  color: #000;
  padding: 12px;
  background: $white;
}

.logo__right {
  color: $white;
  padding: 12px;

}


.header__menu {
  display: none;
  @include rm(640) {
    display: flex
  }
}


.header__timer-wrap {
  display: none;
  @include rm(1024) {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
  }

  @include rm(1220) {
    margin-right: 22px
  }
}


.header__btn {
  max-width: 165px;
  font-size: 16px;
  @include rm(1220) {
    max-width: 190px
  }
}


