.header {
  width: 100%;
  position: fixed;
  box-shadow: 0.7px 1.9px 10px 0 rgba(1, 2, 2, 0.07);
  background: linear-gradient(-45deg, $white 50%, $orange 50%);
  z-index: 3;
  @include rm(768) {
    position: relative;
  }
}

.header__wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background: $white;

  @include rm(768) {
    justify-content: flex-start;
  }

  @include rm(1220) {
    justify-content: flex-start;
  }

  &::before {
    position: absolute;
    transform: skewX(-45deg);
    content: "";
    left: -70px;
    width: 300px;
    height: 100%;
    background: $orange;

    @include rm(480){
      left: -120px;
    }

    @include rm(640) {
      left: -145px;
    }
    @include rm(767) {
      left: -120px;
    }
    @include rm(1024) {
      left: -130px;
    }
    @include rm(1220) {
      left: -90px;
    }
  }
}

.header__logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid $white;
  border-radius: 10px;
  text-transform: uppercase;
  background: transparent;
  margin-right: 60px;

  @include rm(768) {
    font-size: 18px;
    margin-right: 100px;
  }

  @include rm(1024) {
    margin-right: 65px;
    font-size: 20px;
  }
  @include rm(1220) {
    margin-right: 96px;
    font-size: 24px;
  }
}

.logo__left {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  color: #000;
  padding: 12px;
  background: $white;
}

.logo__right {
  color: $white;
  padding: 12px;
}

.header__nav {
  display: flex;
  flex-direction: column;

  @include rm(480) {
    margin-right: 35px;
  }
  @include rm(640) {
    margin-right: 50px;
  }

  @include rm(768) {
    flex-direction: row;
    margin-right: 40px;
  }

  @include rm(1024) {
    margin-right: 30px;
  }
  @include rm(1220) {
    margin-right: 35px;
  }
}

.header__menu {
  z-index: -1;
  width: 100%;
  height: auto;
  padding: 20px;
  padding-top: 40px;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 64px;
  right: 0;
  transform: translateX(100%);
  transition: all .8s;

  @include rm(480) {
   height: auto;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    transform: translateY(-100%);
  }
  @include rm(640) {
    max-width: 100%;
  }
  @include rm(768) {
    transform: translateY(0);
    position: static;
    background: transparent;
    padding: 0;
    z-index: 0;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.header__menu.active {
  transform: translateX(0);
  transition: all .5s;
  @include rm(480) {
    transform: translateY(0);
  }
}

//.header__timer {
//  display: flex;
//  flex-direction: column;
//  margin-bottom: 15px;
//
//  @include rm(768) {
//    display: none;
//  }
//  @include rm(1024) {
//    margin-bottom: 0;
//    display: flex;
//    margin-right: 30px;
//  }
//
//  @include rm(1220) {
//    flex-direction: row;
//    margin-right: 20px;
//  }
//}

//.header__timer .timer-wrapper__text {
//  max-width: 100%;
//  text-align: center;
//  margin: 0;
//  margin-bottom: 5px;
//
//  @include rm(1220) {
//    text-align: left;
//    max-width: 125px;
//    margin-bottom: 0;
//    margin-right: 15px;
//  }
//}

.header__btn {
  max-width: 100%;
  font-size: 16px;

  @include rm(1024) {
    width: 190px;
  }
}

.header__menu_wrapper {
  @include rm(1024) {
    display: flex;
    align-items: center;
  }
}
