.promo.block {
  position: relative;
  padding-top: 90px;
  //background: #fef9f6;

  @include rm(480) {
    padding-top: 94px;
  }
  @include rm(768) {
    padding-top: 40px;
  }
  @include rm(1024) {
    padding-top: 60px;
  }
  @include rm(1220) {
    padding-top: 70px;
  }
}

.promo.bg {
  @include rm(1024) {
    background-position: bottom 100px center;
  }
  @include rm(1220) {
    background-position: bottom 85px center;
  }
}

.promo__wrapper {
  margin-bottom: 20px;
  @include rm(640) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  @include rm(768) {
    max-width: 650px;
    margin: 0 auto;
  }

  @include rm(1024) {
    margin-bottom: 0px;
    margin-right: 0;
    position: relative;
    flex-wrap: nowrap;
    padding-bottom: 0px;
    justify-content: flex-end;
    align-items: flex-start;

    &::before {
      content: '';
      position: absolute;
      left: -348px;
      bottom: -80px;
      width: 338px;
      height: 428px;
    }
  }

  @include rm(1220) {
    max-width: 750px;
    align-items: flex-start;
    margin-bottom: 10px;
    &::before {
      width: 485px;
      height: 609px;
      left: -490px;
      bottom: -57px;
    }
  }
}

.webp .promo__wrapper {
  @include rm(1024) {
    &::before {
      background: url(../img/promo-man.webp) no-repeat center/contain;
    }
  }
}

.no-webp .promo__wrapper {
  @include rm(1024) {
    &::before {
      background: url(../img/promo-man.png) no-repeat center/contain;
    }
  }
}

.promo__info {
  @include rm(1024) {
    max-width: 380px;
    width: 100%;
    margin-right: 25px;
  }
  @include rm(1220) {
    max-width: 400px;
    margin-right: 30px;
  }
}

.promo__title {
  font-size: 24px;
  color: #342c24;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;

  @include rm(1024) {
    font-size: 30px;
    text-align: left;
  }

  @include rm(1220) {
    margin-bottom: 20px;
    font-size: 38px;
  }
}

.promo__subtitle {
  position: relative;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: #342c24;
  margin-bottom: 25px;
  padding-bottom: 15px;

  @include rm(640) {
    padding-bottom: 25px;
  }

  @include rm(1024) {
    text-align: left;
  }

  @include rm(1220) {
    font-size: 24px;
    padding-bottom: 25px;
    margin-bottom: 40px;
  }
}

.promo__text {
  padding-top: 15px;
  font-weight: 500;
  font-size: 21px;
  line-height: normal;
  position: relative;
  text-align: center;
  margin-bottom: 20px;

  @include rm(640) {
    margin-bottom: 25px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #5a8fa8;
    width: 100px;
    height: 3px;
  }

  @include rm(1220) {
    text-align: left;
    font-size: 24px;
    padding-top: 30px;
    margin-bottom: 35px;
    &::before {
      left: 0;
      transform: translateX(0);
    }
  }
}

.promo__list {
  max-width: 350px;
  margin: 0 auto 40px;

  @include rm(640) {
    display: flex;
    max-width: 100%;
  }

  @include rm(768) {
    margin: 0 auto 50px;
  }

  @include rm(1024) {
    margin-bottom: 0;
    flex-direction: column;
  }
}

.promo__item {
  font-weight: 500;
  font-size: 18px;

  br {
    display: none;
  }

  @include rm(640) {
    font-size: 16px;
    text-align: center;
    position: relative;
    width: 33%;
    padding-left: 0;
    padding-top: 60px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  @include rm(767) {
    font-size: 18px;
  }

  @include rm(1024) {
    font-size: 20px;
    width: 100%;
    padding-left: 60px;
    padding-top: 0px;
    text-align: left;

    br {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &::before {
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }

  @include rm(1220){
    &:not(:last-child) {
      margin-bottom: 42px;
    }

    padding-left: 70px;
    font-size: 22px;
  }
}

.promo__form {
  @include rm(1220){
    margin-top: 10px;
  }
}

.promo__product {
  position: relative;
  max-width: 250px;
  margin: 0 auto 40px;

  @include rm(640) {
    max-width: 305px;
    margin: 0 30px 0 0;
  }

  @include rm(768) {
    max-width: 350px;
    &::before {
      content: '';
      position: absolute;
      width: 258px;
      height: 350px;
      top: -50px;
      right: -30px;
    }
  }

  @include rm(1024) {
    position: absolute;
    bottom: -125px;
    left: -288px;
    max-width: 288px;
    margin-top: 0;
    &::before {
      height: 371px;
      top: -160px;
      right: -10px;
    }
  }

  @include rm(1220) {
    position: absolute;
    bottom: -203px;
    left: -396px;
    max-width: 420px;
    &::before {
      top: -232px;
      right: 28px;
    }
  }
}

.webp .promo__product {
  @include rm(768) {
    &::before {
      background: url(../img/product-bg.webp) no-repeat center/contain;
    }
  }
}

.no-webp .promo__product {
  @include rm(768) {
    &::before {
      background: url(../img/product-bg.png) no-repeat center/contain;
    }
  }
}

.promo__product .product__img {
  @include rm(640) {
    margin-bottom: 20px;
  }
}

.promo__cert {
  max-width: 100%;
  margin: 0 auto;
  @include rm(480) {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  @include rm(640) {
    display: none;
  }

  @include rm(1024) {
    display: block;
    max-width: 600px;
    margin-right: 0;
    justify-content: center;

  }
  @include rm(1220) {
    max-width: 700px;
  }
}

.promo__cert--mobile {
  display: none;
  @include rm(640) {
    display: block;
  }
}

.cert__img {
  flex-shrink: 0;
  max-width: 270px;
  width: 100%;
  margin: 0 auto;

  @include rm(1024) {
    margin-left: 0;
    max-width: 320px;
  }
}

.cert__img--mobile {
  display: none;
  @include rm(640) {
    display: block;
  }
  @include rm(1024) {
    display: none;
  }
}

.line {
  display: block;
}

.promo__subtitle-line {
  position: absolute;
  bottom: 0;
  left: calc(50% - 23px);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 125px;
}

.line:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
}

.line:before {
  width: 2px;
  border-radius: 50%;
  right: -11px;
}

.line, .line:before {
  height: 2px;
  background-color: #ffb400;
}

.line:after {
  width: 25px;
  height: 2px;
  background-color: #ffb400;
  right: -45px;
}

.line:after, .line:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
}