.timer {
  display: flex;
  align-items: center;
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  @include rm(768) {
    display: none;
  }
  @include rm(1024) {
    margin-bottom: 0;
    display: flex;
    margin-right: 30px;
  }

  @include rm(1220) {
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
  }
}


.timer-wrapper__text {
  max-width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;

  @include rm(1220) {
    text-align: left;
    //width: 130px;
    margin-bottom: 0;
    margin-right: 15px;
  }
}

.timer__block {
  display: flex;
}

.timer .timer__el {
  display: flex;
  width: 35px;
  height: 45px;
  border-radius: 4px;
  font-size: 22px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 700;
  border: 2px solid #f6ae03;
  background: white;
}

.timer .timer__dot {
  margin: 0 4px;
  display: block;
  font-size: 19px;
}


.timer .timer__el:not(:last-of-type) {
  margin-right: 2px;
}