//timer
.timer-wrap {
  display: flex;
  align-items: center;
}

.timer-wrap__text {
  color: $dark-grey;
  font-size: 16px;
  max-width: 124px;
  margin-right: 16px;
  line-height: 18px;
}

.timer-wrap .timer {
  display: flex;
  align-items: center;
}

.timer-wrap .timer__block {
  display: flex;
}

.timer-wrap .timer__el {
  width: 32px;
  height: 40px;
  border-radius: 4px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border: 2px solid $orange;

  &:not(:last-of-type) {
    margin-right: 2px;
  }

  @include rm(1220){
    width: 35px;
    height: 45px;
  }
}

.timer-wrap .timer__dot {
  margin: 0 4px;
  display: block;
  font-size: 19px;
}

//&--light {
//  .timer-wrap {
//    &__text {
//      color: black;
//    }
//  }
//  .timer {
//    &__dot, &__el {
//      color: black;
//    }
//  }
//}
//&--dark {
//  .timer-wrap {
//    &__text {
//      color: $dark-grey;
//    }
//  }
//  .timer {
//    &__dot, &__el {
//      color: $dark-grey;
//    }
//  }
//}
