extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Купить DUO C&P недорого. Цены, отзывы. Закажите DUO C&P сейчас!";
  - const themeColor = "#ffffff";

append head

append content
  include components/header
  //include components/promo
  //include components/footer


append scripts

