section.advantage.block
    .container
        .advantage__wrapper

            h2.title.advantage__title
                span.prod-color DUO C&P 

                |  Улучшает состояние здоровья при диабете и поддерживает организм


            ul.advantage__list
                li.advantage__item.item
                    .advantage__item-name DUO C&P 
                    |  способствует нормализации уровня сахара в крови
                li.advantage__item.item
                    .advantage__item-name Экстракт куркумы
                    |  обладает уникальным терапевтическим действие при диабете
                li.advantage__item.item
                    .advantage__item-name Эффективность
                    |  подтверждена исследованиями и специалистами
            .advantage__img-wrap
                picture
                    source(srcset='img/product-2.webp' type='image/webp')
                    img.advantage__img(src='img/product-2.png' alt='image' width="273" height="421")

                img.advantage-medal(src='img/medal.png' alt='image' width="90" height="94")
