section.aid.block.bg
    .container
        h2.title.aid__title
            span.prod-color Куркумин
            |  - скорая помощь при диабете

        ul.aid__list.list
            li.aid__item.item
                h4.aid__item-name Нормализует
                | уровень сахара в крови
                .line.aid__line
            li.aid__item.item
                h4.aid__item-name Восстанавливает
                | липидный обмен
                .line.aid__line
            li.aid__item.item
                h4.aid__item-name Снижает
                | уровень плохого холестерина
                .line.aid__line