section.cert.block
  .container
    h2.title.cert__title
      span.prod-color DUO C&P
      |  прошел обязательную и добровольную сертификацию



    .cert__main
      picture
        source(type='image/webp' srcset='img/cert1.webp')
        img(alt='certificate', src='img/cert1.png' loading="lazy" width='210' height='284')

      span.cert__line
      picture
        source(type='image/webp' srcset='img/cert2.webp')
        img(alt='certificate', src='img/cert2.png' loading="lazy" width='210' height='284')

      span.cert__line
      picture
        source(type='image/webp' srcset='img/cert3.webp')
        img(alt='certificate', src='img/cert3.png' loading="lazy" width='210' height='284')
