section.expert.block
    .container
        h2.title.expert__title
            | Эксперты рекомендуют
            span.prod-color  DUO C&P
        h3.expert__subtitle “Взять диабет под контроль теперь стало проще”
        .expert__inner
            picture.expert__img-wrap
                source(type='image/webp' media='(min-width:1024px)' srcset='img/expert.webp')
                source(media='(min-width:1024px)' srcset='img/expert.png')
                source(srcset='img/dot.png')
                img.expert__img(src='img/expert.png' alt='image' loading='lazy')
            .expert__content
                p.expert__text
                    |  Я всегда был сторонником натуральных средств и очень рад, что теперь и для диабетиков появился такой препарат.
                p.expert__text
                    |  Это DUO C&P на основе куркумы. Средство помогает нормализовать
                    b  уровень сахара в крови, а также сбросить лишний вес.
                    |  А это очень важно, ведь лишний вес часто становится причиной появления диабета.
                p.expert__text
                    | Поэтому я рекомендую его всем своим пациентам с диабетом и заявляю, что этот препарат вернет в вашу жизнь здоровье и комфорт.
                .expert__bottom
                    .line.line--expert
                    .expert__info
                        .expert__info-name Виктор Сахаров,
                        .expert__info-post врач-эндокринолог
                    img.expert__asign(src='img/asign.png' alt='image')
                    img.expert__seal(src='img/seal.png' alt='image')
