section.experiment.block.bg
    .container
        .experiment__wrapper
            h2.experiment__title.title
                | В тестировании
                span.prod-color  DUO C&P
                |  приняли участие 1632 человека
            p.experiment__subtitle.text-medium
                |  в течение 1 месяца участники принимали препарат и находились под наблюдением экспертов и команды разработчиков препарата
            ul.experiment__list
                li.experiment__item
                    .experiment__item-wrap
                        span.experiment__num 94
                        span.experiment__percent %
                    p.experiment__text нормализовали уровень сахара в крови
                li.experiment__item
                    .experiment__item-wrap
                        span.experiment__num 91
                        span.experiment__percent %
                    p.experiment__text избавились от проблем с мочевым пузырём
                li.experiment__item
                    .experiment__item-wrap
                        span.experiment__num 94
                        span.experiment__percent %
                    p.experiment__text смогли похудеть и нормализовать вес
                li.experiment__item
                    .experiment__item-wrap
                        span.experiment__num 87
                        span.experiment__percent %
                    p.experiment__text вернулись к активному образу жизни
