footer.footer
	.container
		.footer-top
			.footer-top-delivery
				p.footer-delivery__text
					| Конфиденциальность гарантирована. 
					br
					|  Оплата при получении
			.footer-top-online
				.footer-online-first
					.footer-first__circle
					.footer-first__num
						b.footer__count--online 42
						|  оператора онлайн
				.footer-online-first
					.footer-first__circle.footer-first__circle--color
					.footer-first__num
						b.footer__count--offline 24
						|  разговаривают
				.footer-online__text Круглосуточно без выходных — заказывайте!
		.footer-bottom
			.footer-bottom-pay
				.footer-bottom__title Оплата:
				ul.footer-pay-payment
					li.footer-pay-system
						img.footer-system__logo(src='img/Mastercard-logo.png', alt='Mastercard')
						h4.footer-system__name Mastercard
					li.footer-pay-system
						img.footer-system__logo(src='img/visa.png', alt='Visa')
						h4.footer-system__name Visa
					li.footer-pay-system
						img.footer-system__logo(src='img/cash.png', alt='cash.png')
						h4.footer-system__name Cash
			.footer-bottom-way
				.footer-bottom__title.footer-bottom__title--m Доставка:
				ul.footer-way-list
					li.footer-way__item
						img(src='img/logo-car.svg', alt='Доставка курьером')
						.footer-way__text Доставка курьером
					li.footer-way__item
						img(src='img/mail.png', alt='Почта России')
						.footer-way__text Почта России
		.create_rom_footer(data-color_text='#666666', data-color_link='#666666', data-color_logo='#e3e3e3')
