form.x_order_form.form(action='/submit' method='post')
	.form__top
		h3.form__title Внимание!
		.form__subtitle
			| только сегодня&nbsp;
			span.date-0(data-format='dd monthFull')
		.price
			include price

		include form-field

		.form__footnote *При оформлении заказа

		.form__bottom
			| Осталось&nbsp;
			span.lastpack 12
			|  упаковок по Акции

.form__protec.protect
	img.protec__img( src="img/protect.png" alt="protect")
	| Ваши данные защищены
