label.form__input--wrap.form__input--name
    input.form__input(placeholder='Мое имя' type='text' name='name' autocomplete='name' required)
label.form__input--wrap.form__input--phone
    input.form__input(placeholder='Мой телефон' type='tel' name='phone' autocomplete='tel' required)

button.btn.form__btn
    | Заказать
