header.header
	.container
		.header__wrap
			.header__logo.logo
				span.logo__left Duo
				span.logo__right C&P


			.burger
				span.burger-global.burger-top
				span.burger-global.burger-middle
				span.burger-global.burger-bottom


			.header__menu

				nav.header__nav.nav
					.nav__item
						img.nav__icon(src="img/menu-icon_1.png", alt="icon")
						a.nav__link(href="#reviews") Отзывы
					.nav__item
						img.nav__icon(src="img/menu-icon_2.png", alt="icon")
						a.nav__link.js-scroll(href="#components") Состав



				.header__menu_wrapper

					.header__timer.timer-wrapper

						include timer

					button.header__btn.btn.btn--small.ever-popup-btn Заказать звонок


