.interruption
	.interruption__wrap
		picture
			source(type="image/webp", srcset="img/pack2.webp")
			img.interruption__prod.interruption__prod--desc(loading="lazy", src="img/pack2.png", alt="prod")
		.interruption__wrapper
			.interruption__block
					h2.interruption__title
						span.interruption__attention Внимание!
						span Только сегодня 
						span.interruption__date.date-0(data-format="dd month") 25 апреля
					.interruption__action.action
						span.action__percent Акция!
					picture
						source(type="image/webp", srcset="img/pack2.webp")
						img.interruption__prod.interruption__prod--mob(loading="lazy", src="img/pack2.png", alt="prod")
					.interruption__price.price
						//- .price__val.price__val--old
						//- 	h5.price__title Старая цена
						//- 	p.price__wrap
						//- 		span.x_price_previous.price__num 1980
						//- 		span.x_currency.price__currency руб
						.price__val.price__val--new
							h5.price__title Акционная цена
							p.price__wrap
								span.x_price_current.price__num 990
								span.x_currency.price__currency руб
					.interruption__timer-wrap.timer-wrap.timer-wrap--dark
						.timer-wrap__text До конца акции осталось:
						.timer
							.timer__block
								.timer__el 0
								.timer__el 1
							span.timer__dot :
							.timer__block
								.timer__el 2
								.timer__el 0
							span.timer__dot :
							.timer__block
								.timer__el 3
								.timer__el 7
			form.x_order_form.interruption__form(action="/submit", method="post")
				label.form__input-wrap.form__input-wrap--name
					input.form__input(type="text" name="name" placeholder="Мое имя" required)
				label.form__input-wrap.form__input-wrap--tel
					input.form__input(type="tel" name="phone" placeholder="Мой телефон" required)
				button.form__btn.btn.btn--big Заказать
					span со скидкой