section.order.block
    .container
        h2.title.order__title
            | Закажите доставку 
            span.prod-color DUO C&P 
            | —
            br
            | запустите процесс восстановления суставов
        ul.order__list
            li.order__item.order__item--form
                h4.order__item-name Заполните форму заказа
                p.order__item-text Укажите имя и номер телефона
            li.order__item.order__item--call
                h4.order__item-name Примите звонок оператора
                p.order__item-text Специалист проконсультирует и уточнит адресные данные
            li.order__item.order__item--pay
                h4.order__item-name Оплатите после получения
                p.order__item-text Предоплата
                    br
                    |  не требуется
            li.order__item.order__item--normal
                h4.order__item-name Нормализуйте
                    br
                    |  уровень сахара
                p.order__item-text и наслаждайтесь
                    br
                    | жизнью!