.ever-popup-build
    #cloneThis.my-popup
        .popup
            .popup__img-wrap
                picture
                    source(srcset='img/product-2.webp' type='image/webp')
                    img.popup__img(src='img/product-2.png' alt='')
                img.popup__img-medal(src='img/medal.png' alt='')
            .popup__form
                include form