section.promo.block.bg
    .container
        .promo__wrapper

            .promo__info
                h2.title.promo__title
                    | Устраните симптомы диабета, которые мешают вам жить

                h3.promo__subtitle
                    | Комфортная нормализация уровня сахара в крови
                    span.line.promo__subtitle-line

                ul.promo__list.list
                    li.promo__item.item Поможет сбросить лишний вес
                    li.promo__item.item Решит проблему частого мочеиспускания
                    li.promo__item.item Предотвратит потерю зрения


            .promo__product
                picture
                    source(type='image/webp' srcset='img/product-1.webp')
                    img.product__img(src='img/product-1.png' alt='product' width="420" height="341")


                img.cert__img.cert__img--mobile(src='img/medals.png' alt='product' width="100" height="84")


            .promo__form
                include form



        .promo__cert
            img.cert__img(src='img/medals.png' alt='product' width="100" height="84")










