section.proportions.block.bg#proportions
    .container
        .proportions__wrapper

            h2.proportions__title.title
                span.prod-color DUO C&P
                |  — идеальное сочетание природных компонентов для 100% усвоения куркумина

            p.proportions__subtitle
                span.text-red Внимание:
                |  в составе средств с куркумином обязательно должен присутствовать компонент пиперин


            .proportions__box
                picture
                    source(media='(min-width: 640px)' srcset='img/capsule.webp' type='image/webp')
                    source(srcset='img/dot.png')
                    img.proportions__img(src='img/capsule.png' alt='image')


                .proportions__inner.proportions__inner--left

                    .proportions__circle.proportions__circle--yellow
                        p.circle__text.text-bold Куркумин
                        p.circle__num.text-bold
                            | 95
                            span.circle__percent %


                    p.proportions__text.proportions__text--yellow-border
                        | Стандартизированный экстракт куркумы — это 
                        span.text-bold 95%
                        |  действующего вещества куркумина.

                    ul.proportions__list.proportions__list--yellow
                        li.proportions__item
                            span.text-bold Способствует
                            |  выведению вредного холестерина
                        li.proportions__item
                            span.text-bold Нейтрализует
                            |  воспаления и инфекции
                        li.proportions__item
                            span.text-bold Предупреждает
                            |  скачки сахара в крови


                .proportions__inner
                    .proportions__circle.proportions__circle--dark
                        p.circle__text.text-bold Пиперин
                        p.circle__num.text-bold
                            | 5
                            span.circle__percent %

                    p.proportions__text.proportions__text--black-border
                        | Повышает биодоступность куркуминана
                        span.text-bold  на 2000%
                        | , сохраняя его высокий уровень в крови
                    ul.proportions__list.proportions__list--gray
                        li.proportions__item
                            span.text-bold Предотвращает
                            |  преждевременный вывод куркумина из организма
                        li.proportions__item
                            span.text-bold Усиливает
                            |  функции куркумина
