section.quantity.block
    .container
        h2.title.quantity__title Сколько нужно куркумина, чтобы победить симптомы диабета?
        .quantity__info
            .quantity__list
                .quantity__item
                    .quantity__item-value 3-5%
                    .quantity__item-desc куркумина содержиться в специи куркуме
                .quantity__item
                    .quantity__item-value 1 ст.л.
                    .quantity__item-desc куркумы нужно употреблять ежедневно для терапевтического эффекта куркумина
                .quantity__item
                    .quantity__item-value 3%
                    .quantity__item-desc куркумина всасывается в кровь
            .quantity__note
                .quantity__note-value 97%
                .quantity__note-desc куркумина выводится организмом при употреблении чистой куркумы


        .quantity__img-wrap
            picture
                source(type='image/webp' media='(min-width:480px)' srcset='img/curcumin.webp')
                source(media='(min-width:480px)' srcset='img/curcumin.png')
                source(type='image/webp' media='(min-width:300px)' srcset='img/curcumin_mob.webp')
                source(media='(min-width:300px)' srcset='img/curcumin_mob.png')
                img.quantity__img(src='img/curcumin.png' alt='' loading='lazy')

