section.result.block.bg
    .container
        h2.result__title.title
            | Жизнь после терапии
            span.prod-color  DUO C&P
        h3.result__subtitle
            | Избавьтесь от трудностей, ухудшающих качество жизни! Как изменится ваша жизнь благодаря препарату:

        .result__list
            .result__item
                picture
                    source(srcset='img/result-1.webp' type='image/webp')
                    img.result__item-img(src='img/result-1.jpg' alt='result')
                h4.result__item-name Уйдет лишний вес
            .result__item
                picture
                    source(srcset='img/result-2.webp' type='image/webp')
                    img.result__item-img(src='img/result-2.jpg' alt='result')
                h4.result__item-name Улучшится зрение
            .result__item
                picture
                    source(srcset='img/result-3.webp' type='image/webp')
                    img.result__item-img(src='img/result-3.jpg' alt='result')
                h4.result__item-name Нормализуется сон
            .result__item
                picture
                    source(srcset='img/result-4.webp' type='image/webp')
                    img.result__item-img(src='img/result-4.jpg' alt='result')
                h4.result__item-name Появится бодрость и энергия
            .result__item
                picture
                    source(srcset='img/result-5.webp' type='image/webp')
                    img.result__item-img(src='img/result-5.jpg' alt='result')
                h4.result__item-name Пропадет головная боль
            .result__item
                picture
                    source(srcset='img/result-6.webp' type='image/webp')
                    img.result__item-img(src='img/result-6.jpg' alt='result')
                h4.result__item-name Станут лучше заживать раны
