.steps.bg-grey
  .steps__second
    .container
      img.steps__expert(loading='lazy', src='img/expert-2.png', alt='expert' width='208' height='343')
      .steps__second--recommend
        p
          b Виктор Сахаров,&nbsp;
          span врач-эндокринолог

        img.expert__asign(src='img/asign.png', alt='approver')
        img.expert__seal(src='img/seal.png', alt='approver')

      ul.steps__list
        li.steps__item.item

          p
            span Для ускорения эффекта DUO-C&P

            |  следует воздержаться от жирной пищи и сладостей

        li.steps__item.item

          p
            span Для максимального эффекта DUO-C&P

            |  следует употреблять больше свежих овощей

        li.steps__item.item

          p
            span Для предупреждения диабета

            |  нужно заниматься спортом и тщательно следить за питанием
