.steps.bg-grey
  .steps__second
    .container
      img.steps__expert(loading='lazy', src='img/expert-2.png', alt='expert' width='208' height='343')
      .steps__second--recommend
        p
          b Виктор Сахаров,&nbsp;
          span врач-эндокринолог

        img(src='img/seal.png', alt='approver')
        img(src='img/asign.png', alt='approver')
      ul.steps__list
        li.steps__item.item
          //.step__checkmark
          //  img(loading='lazy', src='img/check.png', alt='check' width='50' height='50')
          //
          p
            span Для ускорения эффекта DUO-C&P

            |  следует воздержаться от жирной пищи и сладостей

        li.steps__item.item
          //.step__checkmark
          //  img(loading='lazy', src='img/check.png', alt='check' width='50' height='50')
          //
          p
            span Для максимального эффекта DUO-C&P

            |  следует употреблять больше свежих овощей

        li.steps__item.item
          //.step__checkmark
          //  img(loading='lazy', src='img/check.png', alt='check' width='50' height='50')
          //
          p
            span Для предупреждения диабета

            |  нужно заниматься спортом и тщательно следить за питанием
