.timer-wrapper__text До конца акции осталось:
.timer
    .timer__block
        .timer__el.hours 0
        .timer__el.hours 0
    span.timer__dot :
    .timer__block
        .timer__el.minutes 0
        .timer__el.minutes 0
    span.timer__dot :
    .timer__block
        .timer__el.seconds 0
        .timer__el.seconds 0